<div
  class="min-w-[326px] bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
>
  <div class="flex flex-col items-center pb-4">
    <img
      class="w-16 h-16 my-3 rounded-full shadow-lg bg-gray-300"
      src="/assets/user.svg"
      alt="{{ user.firstName }} image"
    />
    <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">
      {{ user.firstName }} {{ user.lastName }}
    </h5>
    <span class="text-sm text-gray-500 dark:text-gray-400">{{
      user.jobTitle
    }}</span>
  </div>
</div>
